<div class="w-[48rem] h-[48rem] flex flex-col relative rounded">
    <!-- <div class="flex w-full h-full items-center justify-center"> -->
        <div class="text-darkTeal font-bold text-sm">
            Housing compositions Ku-ring-gai
        </div>
    <!-- </div> -->


    <!-- <div class="flex w-full h-full items-center justify-center">
        <div class="text-darkTeal text-sm">
            % of population 2016 vs 2021
        </div>
    </div>
    <div class="w-[32rem] h-72">
        <canvas #barCanvas ></canvas>
    </div>


    <div class="w-full h-4 pb-4"></div> -->


    <div class="flex w-full h-full items-center justify-center">
        <div class="text-darkTeal text-sm">
            <!-- Population Change 2016-2021 -->
             <!-- Weekly income -->
        </div>
    </div>
    <div class="w-[44rem] h-[32rem]">
        <canvas #barCanvasChange class="h-full"></canvas>
    </div>
    

</div>


<!-- Population data layout -->
<!-- <div class="w-[36rem] h-[36rem] flex flex-col relative rounded">
    <div class="w-[36rem] h-[32rem]">
        <canvas #barCanvasChange class="h-full"></canvas>
    </div>
</div> -->